.container{
    margin: 15px 0;
}
.default_image{
    width: 100%;
    height: 200px;
}
.col-md-4{
    margin-bottom: 20px;
}
.artist-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #343a40;  /* Bootstrap secondary color */
    padding: 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.artist-link:hover {
    background-color: #1c1e21;  /* Darker color on hover */
}

.artist-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.audio-container {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

audio {
    width: 100%;
}