{% extends 'base.html' %}


{% block title %}
    Add New Song
{% endblock %}



{% block body %}
<div class="container mt-5">
    <h2>Add Song</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">SongName</label>
              <input type="text" name="songname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Song</label>
              <input name="song" type="file" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </form>
</div>
{% endblock %}
    